{% extends 'admin/layout.html' %}

{% block page_title %}Platform Users{% endblock %}

{% block content %}
<div class="card">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Bookings Count</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>#{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.gender or 'N/A' }}</td>
                <td>{{ user.bookings|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}